@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

#List {
    border-color: green;
    border-style: solid;
    border-width: medium;
    border-radius: 12px;
}

#RecipesnArticlesChar {
    height: 200px;
}

.CH-color {
    background-color: #222634 !important;
    border: none !important;
}

    .CH-color:hover {
        color: #FEA116 !important;
    }

    .page-item.active .page-link {
        background-color: transparent !important;
        border-color: transparent !important;
    }

.main-body {
    padding-left: 50px;
    padding-right: 50px;
}

.mt-50 {
    margin-top: 40px;
}

.mt-80 {
    padding-top: 75px;
}

.nav-bug {
    margin-top: 80px !important;
}

.no-ovfl {
    overflow-x: hidden !important;
}

.ovfl-s {
    overflow-y: scroll !important;
}

.recipelist-height {
    max-height: 200px;
}

.home-recipe-img {
    width: 300px;
    height: 200px;
}

.home-gallery-img {
    width: 300px !important;
    height: 200px;
}

.btn-CH {
    background-color: white;
    color: #FEA116;
    margin-top: 12px;
}

.recipeReviews .btn-CH:hover {
    background-color: #FEA116;
    color: #222634 !important;
}

#admin-btn {
    color: white;
}

    #admin-btn:hover {
        color: #FEA116;
        font-weight: bold;
    }

.btn:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #222634;
    padding: 0.5rem 0.5rem !important;
    top: 95% !important;
}

.statistic-card {
    padding: 5px 10px;
    border-color: grey;
    border-style: solid;
    border-width: 3px;
}

#article-size {
    height: 80px;
    width: 80px;
}

.recipe-sec {
    color: #c45850;
}

.article-sec {
    color: #3e95cd;
}

.centered {
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#UsersNow {
    padding-left: 12px;
}

.dig {
    max-width: 45%;
}

.br-black {
    border: 3px solid #222222;
}

.no-padding {
    padding: 0px 0px 0px 0px;
    overflow-y: hidden;
}

.admin-conteiner {
    background-color: #222634;
}

    .admin-conteiner h1,
    .admin-conteiner h2,
    .admin-conteiner h4,
    .admin-conteiner h5,
    .admin-conteiner label,
    .admin-conteiner ul li a {
        color: white;
    }

.pow {
    position: absolute;
    right: 0;
}

.homeinfo {
    position: absolute;
    z-index: 0;
    margin: 250px 50px;
    font-size: 28px;
    color: white;
    text-shadow: 1px 2px 3px #000000;
}

    .homeinfo a {
        text-shadow: none;
    }

    .homeinfo h1 {
        font-size: 42px;
        color: lightgray;
    }

.home-pic {
    width: 100%;
    height: 100%;
}

.listpic {
    width: 100%;
    max-height: 200px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bg-userList {
    /*background-image: url('../images/about-bg.jpg');*/
    background-size: cover;
    margin-bottom: 3rem;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.article-box {
    background-color: #222634;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    padding-bottom: 30px;
}

.toArticle-box {
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
    min-height: 60px;
    transition: none !important;
}

#toArticleBtn {
    display: block;
    text-align: center;
    font-size: 18px;
    width: 100%;
    transition: none !important;
}

    #toArticleBtn:hover {
        background-color: #FEA116 !important;
        color: #222634 !important;
    }

.button {
    background-color: white;
    color: #FEA116;
    font-weight: 600;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    transition: none !important;
    border-radius: 0.3rem;
}

.recipe-card {
    width: 300px;
    height: 209px;
}

.recipe-card h4 {
    color: white !important;
}

    .recipe-card img {
        width: 300px;
        height: 209px;
    }

#PaginationNav {
    position: absolute;
    margin-top: 30px;
    left: 40%;
}

@media (max-width: 1000px) {
    #PaginationNav {
        left: 36%;
    }
}

@media (max-width: 990px) {
    #PaginationNav {
        left: 65%;
    }
}

@media (max-width: 767px) {
    #PaginationNav {
        left: 12%;
    }
}

@media screen and (min-width: 1280px) {
}

@media(max-width: 1280px) {

    .main-body {
        margin: 0px 0px 0px 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width: 975px) {
    .ing-img {
        border-top: 12px groove  white;
        border-left: none;
    }
    .br-l-r-white {
        border-left: none !important;
        border-right: none !important;
    }
}

@media(min-width: 975px) {
    .ing-img {
        border-left: 12px double white;
    }
   
}
.sm{
    font-size:12px;
}
.mx-h {
    height: 300px !important;
}

.br-12 {
    border-radius: 12px;
}

.recipeTitle {
}

.gallery-bg {
   /* background-image: url('../images/body-bg.jpg');
    background-size: cover;*/
    color: white;
    padding: 20px;
}

    .gallery-bg h2 {
        color: #222634;
    }

#recipeHeading {
    color: white;
    padding: 4px;
    margin-top: 10px;
}

    #recipeHeading h1 {
        color: white;
        margin: 3px 3px;
    }

#recipeBody {
    padding: 4px;
}

.recipeText {
    min-height: 400px;
    height: 100%;
    background-color: white;
    font-size: 20px;
    border-radius: 12px;
    text-align: left;
    padding: 10px;
}

#recipeProps {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 10px;
    overflow: visible;
}

.recipeDetailsPage {
    /*border: 4px solid #222634;*/
    padding: 12px;
    /*background-image: url('../images/about-bg.jpg');*/
    background-size: cover;
    margin-bottom: 3rem;
    border-radius: 0.3rem;
}

.recipeProperty {
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px auto 10px auto;
    max-width: 180px;
    min-width: 150px;
    background-color: white;
    color: black;
}

.recipeIngredients {
    margin: 10px auto 10px auto;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
    width: 80%;
    font-size: 20px;
}

.recipe-img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    margin-top: 3px;
    max-height: 400px;
}

.recipeImage {
    min-height: 330px;
    width: 80%;
    max-width: 80%;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.recipeReviews {
    padding: 26px;
    background-color: #222634;
    border-radius: 0.6rem;
    border-top: 12px double white;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

    .recipeReviews h2 {
        color: white;   
    }

    .reviewsPanel {
        min-height: 100px;
        overflow: visible;
        padding-left: 30px;
        padding-right: 30px;
    }

#reviewDescription {
    width: 100%;
}

.starrating > input {
    display: none;
}

.starrating > label:before {
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 32px;
    font-family: FontAwesome;
    display: inline-block;
}

.starrating > label {
    color: #222222;
}

.starrating > input:checked ~ label {
    color: #ffca08;
}

.starrating > input:hover ~ label {
    color: #ffca08;
}

.review-card {
    padding-left: 0px !important;
    padding-right: 10px !important;
    margin-top: 10px;
    min-width: 300px;
    
}

.star {
    color: #FEA116;
}

.review-header {
    background-color: white;
    color: #222634;
    border: 3px solid white;
    padding: 3px 3px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.review-body {
    border: 3px solid white;
    border-top: none !important;
    padding: 7px 7px;
    min-height: 100px;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.category-breadcrumb {
    border-bottom: 1px solid #f9f9f9;
    box-sizing: border-box;
    padding: 80px 0;
    width: 100%;
    background-image: url(../images/bg_breadcrumbs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    .category-breadcrumb h1 {
        font-size: 35px;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        padding: 8px 0;
        font-weight: 600;
    }

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-secondary:hover {
    background: #540404;
    color: #fff;
}

.btn-primary {
    color: #540404;
    background-color: #fff;
    border-color: #540404;
}

    .btn-primary:hover {
        color: #FEA116;
        background-color: transparent;
    }

    .btn-primary:active {
        color: #FEA116;
        background-color: transparent;
    }

    .btn-primary:focus {
        color: #FEA116;
        background-color: transparent;
    }

.btn-fb {
    color: #0069d9;
    background-color: #fff;
    border-color: #204d74;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #204d74;
    }

#avatar-img {
    max-width: 65px;
    border-radius: 50px;
}

#content-textarea {
    border: 2px solid;
    border-radius: 25px;
}

    #content-textarea:focus-visible {
        border-color: #FEA116;
    }

.inactive {
    color: black !important;
    background-color: white !important;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 100px;
    border: 2px solid #FEA116;
    z-index: 9;
}

    .chat-popup .btn.btn-light {
        margin-left: 0.5rem;
        color: #FEA116 !important;
    }

        .chat-popup .btn.btn-light:hover {
            margin-left: 0.5rem;
            background-color: #FEA116 !important;
            color: #222634 !important;
            border-color: transparent !important;
        }

.chat-container {
    max-width: 600px;
    min-width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

.chat-head {
    background-color: #222634;
    color: white;
    margin-right: 0px;
    padding-left: 20px;
    margin-left: 0px;
}

.close-btn {
    color: white;
    right: 0;
    font-size: 32px;
}

    .close-btn:hover {
        color: #FEA116;
    }

    #messagesList {
        padding-bottom: 20px;
    }

.chat-output {
    height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-blank {
    padding: 0.5rem;
}

#navbar {
    transition: 0.7s;
}
.nav-panel {
    display: none;
    background-color: transparent;
    overflow: hidden;
    padding-left: 45px;
    transition: 0.4s;
}
    .nav-panel div {
        margin-top: 5px;
        margin-bottom: 5px;
        transition: 0.3s;
    }
    
.admin-nav {
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 18px;
    color: white;
    margin-top:6px;
}
.admin-nav:hover{
    background-color: #222222;
    
}
    .admin-nav .active ::after {
        background-color: #222222;
    }
.admin-nav-item{
    width:100%;
}
.admin-nav-item a {
    background-color: transparent;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    padding-left: 18px;
    color: white;
    margin-top: 6px;
}
    .admin-nav-item a:hover {
        background-color: #222222;
    }
.cookie-pos{
    position: fixed;
    bottom:0;
    z-index:100;
}
.br-b-white{
    border-bottom : 3px solid white;
}
.br-l-r-white{
    border-left: 3px solid white;
    border-right: 3px solid white;
}
@media (min-width: 1200px) and (max-width: 1380px) {
    #logo {
        width: 200px !important;
    }
}

.modal-title.CH-color {
    color: #FEA116 !important;
    font-weight: bold;
}

.close {
    color: #FEA116 !important;
    opacity: 1 !important;
}

.modal-dialog #submit-btn {
    background-color: #222634 !important;
    color: white !important;
}

.modal-dialog .btn {
    background-color: #222634 !important;
    color: white !important;
}

    .modal-dialog #submit-btn:hover, .modal-dialog .btn:hover {
        color: #FEA116 !important;
    }

.starrating label {
    cursor: pointer;
}

.modal-dialog input:focus-visible {
    accent-color: #FEA116;
}

.modal-dialog input:focus-visible {
    border-color: #FEA116;
    outline-color: #FEA116;
}

.modal-dialog textarea:focus-visible {
    border-color: #FEA116;
    outline-color: #FEA116;
}

.collapse .card-body {
    color: #222634 !important;
}

    .collapse .card-body .row > div {
        border: 3px solid #222634 !important;
    }

    .collapse .card-body .row > div.col-12 {
        border: 0px solid #222634 !important;
    }

    .collapse .card-body .text-light {
        color: #222634 !important;
    }
