@using HealthyFood.Models.ViewModels.Privacy
@model PrivacyDetailsViewModel
@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-box mt-80">
    <div class="container">
        <p>@Html.Raw(Model.SanitizedPageContent)</p>
    </div>

    <partial name="_ContactsInfoPartial" />
</div>

<a href="#" id="back-to-top" title="Back to top" style="display: none;">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
</a>

<partial name="_ChatPartial" />

@section Scripts {
    <script src="~/js/show-chat.js" asp-append-version="true"></script>

    <script>
        $(function () {
            $(".chat-submit").on("click", function (e) {
                e.preventDefault();

                $(".chat-awaiting").removeClass("d-none");

                const button = $(this);
                const form = $(".chat-form");
                const messageInput = $("#messageInput");
                const messageInputValue = messageInput.val();

                button.attr("disabled", "");
                messageInput.attr("readonly", "");

                $.ajax({
                    url: "@Url.Action("GetResponse", "ChatApi")",
                    method: "GET",
                    data: form.serialize()
                }).done(function (html) {
                    const query = $("<div/>")
                        .addClass("query")
                        .html(`<strong>@this.User.Identity.Name:</strong><br/>${messageInputValue}<br/>`);

                    const response = $("<div/>")
                        .addClass("response")
                        .html(`<strong>ChatGPT:</strong><br/>${html}`);

                    $("#messagesList").append(query);
                    $("#messagesList").append(response);
                    messageInput.val("");
                }).fail(function (data) {
                    console.log(data);
                    $("#error-message").text(data);
                }).always(function () {
                    $(".chat-awaiting").addClass("d-none");
                    button.removeAttr("disabled");
                    messageInput.removeAttr("readonly");
                });
            });
        });
    </script>
}
