@model HealthyFood.Models.InputModels.PublicInputModels.ChatInputModel

@{
    ViewData["Title"] = "Chat";
}

<div class="text-center mt-80">
    <h4 class="display-4">ChatGPT</h4>
</div>
<hr />
<div class="chat-gpt"></div>

<div class="row">
    <div class="col">
        <form asp-area="" asp-controller="ChatApi" asp-action="GetResponse" enctype="multipart/form-data" method="get" class="chat-form">
            <div class="form-group">
                <label asp-for="Query"></label>
                <textarea asp-for="Query" class="form-control chat-query"></textarea>
                <span asp-validation-for="Query" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success chat-submit">Submit</button>
            <span class="chat-awaiting d-none">Awaiting ChatGPT response...</span>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            $(".chat-submit").on("click", function(e) {
                e.preventDefault();

                $(".chat-awaiting").removeClass("d-none");

                var button = $(this);
                const form = $(".chat-form");
                var queryTextArea = $(".chat-query");
                var queryText = $("#@Html.IdFor(x => x.Query)").val();

                button.attr("disabled", "");
                queryTextArea.attr("readonly", "");

                $.ajax({
                    url: "@Url.Action("GetResponse", "ChatApi")",
                    method: "GET",
                    data: form.serialize()
                }).done(function(html) {
                    const query = $("<div/>")
                        .addClass("query")
                        .html(`<strong>You</strong><br/>${queryText}`);

                    const response = $("<div/>")
                        .addClass("response")
                        .html(`<strong>ChatGPT</strong><br/>${html}`);

                    $(".chat-gpt").append(query);
                    $(".chat-gpt").append(response);
                    queryTextArea.val("");
                }).fail(function(data) {
                    console.log(data);
                }).always(function () {
                    $(".chat-awaiting").addClass("d-none");
                    button.removeAttr("disabled");
                    queryTextArea.removeAttr("readonly");
                });
            });
        });
    </script>
}
